html, body {
	margin: 0; 
}
body {
  background-color: #fff;
  color: #333;
  font-family: 'Quicksand', sans-serif;

}
header h1 {
  text-align: center;
  font-weight: normal;
  margin-top: 50px;
}
main {
  width: 50%;
  margin: 0 auto;
}
main input[type="text"] {
  color: #FBC300;
  background-color: #333;
  font-family: 'Quicksand', sans-serif;
  display: block;
  margin: 0 auto;
  padding: 5px;
}
main p {
  margin: 10px 0;
  letter-spacing: 1px;
  text-align: justify;
}
.highlight { 
	background-color: #FBC300; 
}